
TimerXdd2/__pycache__/TimerSetup.cpython-38.pyc
TimerXdd2/__pycache__/Timer2.cpython-38.pyc
*.pyc
*.pyc
*.toc
*.pyc
*.exe
*.toc
TimerXdd2/build/TimerMain/Analysis-00.toc
TimerXdd2/dist/TimerMain.exe
